body {margin: 0;background: #e1dcdd;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #a6984a; transition: 140ms;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.regBTN {
  padding: 18px 80px;
  border: none;
  border-radius: 1px;
  background: #788090;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 4px;
  font-family:'Rubik', sans-serif;
  text-transform: uppercase;
  
}

.regBTN:hover {
  background-color: #405fa5;
}
/* in the registration page */

.regBTN1 {
  padding: 18px 100px;
  border: none;
  border-radius: 1px;
  background: #788090;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 4px;
  font-family:'Rubik', sans-serif;
  text-transform: uppercase;
  
}

.regBTN1:hover {
  background-color: #405fa5;
}
